{extend name='base/base'}
{block name='content'}
<div class="row">
      <div class="col-md-6">
                <button id='btn2'>默认排序</button>
                <button id='btn'>按添加时间排序</button>
                <button id='btn1'>按价格排序</button>
                <button id='btn3'>按库存数量排序</button>
                <button id='btn4'>按修改时间排序</button>
      </div>
      <div>
          <form action="chaxun" method="post">
              <div class="input-group" style="margin-left: 10px">

                <input type="text" name='search' class="form-control" placeholder="Search for..." style="width: 80%">
                <span class="input-group-btn" style="margin-left:0px;float: left;">
                  <button class="btn btn-default" type="submit" >Go!</button>
                </span>
              </div>
          </form>
        
      </div>

    </div>

     <table id='tb' class="table table-bordered">
      <tr align="center" >
      	<th width="1%">序号</th>
      	<th width='10%'>类别</th>
      	<th width="15%">名称</th>
      	<th width="15%">出版社</th>
      	<th width="10%">作者</th>
      	<th width="8%">缩略图</th>
      	<th width="2%">库存</th>
      	<th width="6%">价格</th>
      	<th width="20%">描述</th>
      	<th width="15%" colspan="2">操作</th>
      </tr>
      {foreach $arr as $v}
      <tr align="center" >
      	  <td class="active" style="line-height: 70px;">{$v['bookId']}</td>
      	  <td class="warning" style="line-height: 70px;">{$v['title']}</td>
		  <td class="success" style="line-height: 70px;">{$v['bookName']}</td>
		  <td class="warning" style="line-height: 70px;">{$v['publisher']}</td>
		  <td class="danger" style="line-height: 70px;">{$v['author']}</td>
		  <td class="info"><img src="__STATIC__/../uploads/{$v['bookImage']}" width="70px" height="70px"></td>
		  <td class="danger" style="line-height: 70px;">{$v['num']}</td>
		  <td class="danger" style="line-height: 70px;">{$v['price']}</td>
		  <td class="danger" style="line-height: 70px;">{$v['detail']}</td>
		  <td class="info" style="line-height: 70px;"><a href="update?bookId={$v['bookId']}">修改</a></td>
		  <td class="info" style="line-height: 70px;"><a href="delete?bookId={$v['bookId']}" onclick="return del()">删除</a></td>
      </tr>
      {/foreach}
  </table>
  <div class='container' style='margin:0 auto;'>{$page}<div>
  <script>
    function del()
    {
    	return confirm('确定要删除吗？');
    }
    btn.onclick=function()
    {
    	window.location.assign('shijian');
    }
    btn1.onclick=function()
    {
    	window.location.assign('price');
    }
    btn2.onclick=function()
    {
    	window.location.assign('lista');
    }
    btn3.onclick=function()
    {
    	window.location.assign('num');
    }
    btn4.onclick=function()
    {
    	window.location.assign('uptimes');
    }
  </script>
{/block}